.content-body{
    /* margin-top:1%;
    margin-bottom:1%; */
    line-height:1.6;
    font-family:S-CoreDream-5Medium,sans-serif;
    color:rgb(69, 69, 80);
}
.bold{
    font-family:S-CoreDream-6Bold,sans-serif;
    font-size:1.4em;
}
.rectangle {
    width: 100%;
    background: rgb(226, 224, 251);
    padding:1% 0;
  }
.inside-wrap{
    width: 1400px;
    /* 중앙정렬 */
    margin : 0 auto;
    overflow: auto;
    /* border:1px solid green; */
    position: relative;
}
#profile{

    /* border:1px solid red; */
    height: auto;
}
/* 프로필 이미지 */
#figure {
    width: 120px;
    height: 120px; 
    border-radius: 70%;
    overflow: hidden;
    vertical-align:middle;
    display: inline-block;
    /* border:1px solid blue; */
}
#text{
    display: inline-block;
    height: auto;
    /* border:1px solid orange; */
    vertical-align: middle;
    padding-left: 2%;
    
}

.profile-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#twitter-button{
    display: inline-block;
    right:10px;
    bottom:10px;
    position: absolute;
}

.btn3 button{
    width: 150px;
    height: 30px;
    background-color:  rgb(138, 133, 241);
    color: #ffffff;
    border:none;
  }
  .btn3 button:hover,
  .btn3 button:focus,
  .btn3 button:focus {
    border:none;
    outline: 0;
    text-decoration: none;
    background-color: rgb(123, 118, 233);
  } 
  .content-header{
    font-family:S-CoreDream-5Medium,sans-serif;
    color:rgb(69, 69, 80);
    margin-top: 30px;
    margin-bottom: -40px;
    font-size: 1.6em;
  }
  #chart {
    width: 100%;
    margin: 0px -1.5%;
  }
  