<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ("./common/header") %>
    <script type="text/javascript" src="../src/js/jquery.ajax-cross-origin.min.js"></script>

<script>
 
    // $(function(){
    //     var form = $('#FILE_FORM')[0];
    // var formData = new FormData(form);
    // formData.append("fileObj", $("#FILE_TAG")[0].files[0]);
    // console.log($("#FILE_TAG")[0].files[0]);
    //     $("#file_submit").change("click",function(e){
    //         $.ajax({
    //         url:'http://localhost:5000/fileUploaded',
    //         type:'post',
    //         processData: false, // 필수 
    //         contentType: false, // 필수 
    //         data: formData,
    //         success:function(ret){
    //             alert('전달완료');
    //             console.log(ret);
    //         },error:function(err){console.log("에러발생dds",err)}
    //     });
    //     });

    //     //http://localhost:5000/test00
    //     // $.get('http://localhost:5000/info',function(data){
    //     //     alert('성공');
    //     //     console.log(data);
    //     // });
            
    //         // $.post('http://localhost:5000/test6',{name:'hello'},function(data){
    //         //     alert('성공');
    //         //     console.log(data); //json 형식만 리턴 가능한 걸까-> 아님. 걍 데이터가 안들어감..
    //         // },"json");
    //         // $.post( "http://localhost:5000/test00", { name: "John", email: "2pm" },function(data){
    //         //     alert("성공sd");
    //         //     console.log(data);
    //         // });
    //     });
function uploadFile(){
    var form = $('#FILE_FORM')[0];
    var formData = new FormData(form);
    formData.append("fileObj", $("#FILE_TAG")[0].files[0]);

    $.ajax({
        url: 'http://localhost:5000/fileUploaded',
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                success: function(result){
                    alert("업로드 성공!!");
                    console.log(result);
                },error:function(err){console.log("에러",err);
                console.log($("#FILE_TAG")[0].files[0]);}
            });
    }
</script>

</head>
<body>
    <h2>test페이지!!!</h2>
    <p>flask 서버로 txt 파일 전송하고 분석 결과 돌려 받기</p>
    <!-- <form action="http://localhost:5000/info" method="POST" enctype="multipart/form-data">
        <div id="file">
            <input type="file" name="file"/>
            <input type="submit" id="file_submit"/>
        </div>
    </form> -->

    <form id="FILE_FORM" method="post" enctype="multipart/form-data" action="">

        <input type="file" id="FILE_TAG" name="FILE_TAG">
    
    
        <a class="ui-shadow ui-btn ui-corner-all" href="javascript:uploadFile();">전송</a>
    
    </form>


</body>
</html>