<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, minimum-scale=1.0, user-scalable=yes" /> 
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@naniyang2" />
<meta name="twitter:title" content="CTA" />
<meta name="twitter:description" content="관심있는 셀럽이 있나요? 셀럽의 트윗 감성 분석 결과를 확인해보세요!" />
<meta name="twitter:image" content="https://blogfiles.pstatic.net/MjAyMDExMjdfMTg1/MDAxNjA2NDQ0MzQzNjQ4.Tbzh8uovRakTL6fWS9TOg5zmHzU4Zdx2_iEJpEbApLsg.KYrniU_JLb628kJqFLEJtIvrvbOpmQJvbdQiYckj5kcg.JPEG.tmdwnchlrh9/card.jpg?type=w2" />
<title>Twitter Analisys</title>
<link href="bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="src/css/style.css" rel="stylesheet">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
<script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>



