<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, minimum-scale=1.0, user-scalable=yes" /> 
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:title" content="ex" />
<meta property="og:url" content="https://www.naver.com/" />
<meta property="og:description" content="description" />
<meta property="og:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg" />
<meta name="twitter:site" content="@tmdwnchlrh9" />
<meta name="twitter:creator" content="@tmdwnchlrh9" />
<title>Twitter Analisys</title>
<link href="bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="src/css/style.css" rel="stylesheet">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
<script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>



